@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.form-container {
  width: 400px;
  height: hidden;
  border: 8px solid #287a85;
  margin: 10% auto;
  padding: 2rem;
}

h3 {
  text-align: center;
  line-height: 1.6;
}

#nama {
  padding: 0.6rem;
  width: 100%;
  margin: 6px 0;
}

#email {
  padding: 0.6rem;
  width: 100%;
  margin: 6px 0;
}

#jam {
  padding: 0.6rem;
  width: 100%;
  margin: 6px 0;
}

#tiket {
  padding: 0.6rem;
  width: 100%;
  margin: 6px 0;
}

#tujuan {
  padding: 0.6rem;
  width: 100%;
  margin: 6px 0;
}

.btn {
  background-color: #6e6cca;
  border: none;
  border-radius: 0.5rem;
  padding: 1em 8.5em;
  margin: 1rem 0;
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 16px;
}
