* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h2 {
      margin: 2% auto;
      font-family: monospace;
      text-align: center;
  }
  
  .container {
    padding: 2rem;
    margin: 2% auto;
    background-color: rgb(202, 202, 202);
    width: 40rem;
    height: 45rem;
    border-style: groove;

    
  
    /* Display */
    display: flex;
    flex-direction: column;
  }
  
  .image {
    padding: 0.5rem;
    width: 20rem;
    height: 2rem;
    
  }
  
  .container p {
      margin-top: .8rem;
      text-align: left;
  }
  
  img {
    width: 20rem;
    display: block;
    border-style: solid;
    margin: .8rem auto;
    object-fit: cover;
  }
  